name: Pod install (macOS)

on:
  workflow_dispatch:

jobs:
  pod-install:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Ruby & CocoaPods
        run: |
          gem install cocoapods --no-document
          pod --version

      - name: Run pod install
        run: pod install --no-repo-update
